{% extends 'base.html.twig' %}


{% block body %}


    <h2 class="mt-6 text-xl">A la Une</h2>




    <!-- Start Content -->
    <div class="grid grid-cols-1 gap-5 mt-6 sm:grid-cols-2 lg:grid-cols-4">

        {% for i in 1..22 %}

            <article class="overflow-hidden rounded-lg shadow-lg hover:bg-blue-200 bg-gray-100">

                <a href="#">
                    <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                </a>

                <header class="flex flex-col justify-between leading-tight p-2 md:p-4 ">
                    <h1 class="text-lg">
                        <a class="no-underline hover:underline text-black" href="#">
                            Product Title
                        </a>
                    </h1>
                    <span class="text-gray-600 flex">{{ 100.221 * i% 120 * 1.73 }}€
                      {% if i % 3 == 0 %}
                          <span class="inline-block flex align-center mx-4  px-4 justify-center text-sm text-white bg-red-500 rounded"> -{{ i * i * i% 60 }}%</span>
                      {% endif %}
                    </span>
                </header>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                    <a class="flex items-center no-underline hover:underline text-black" href="#">
                        <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                        <p class="ml-2 text-sm">
                            Author Name
                        </p>
                    </a>
                    <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                        <span class="hidden">Like</span>
                        <i class="fa fa-heart"></i>
                    </a>

                    <span>from 201{{ i % 9 }}</span>
                </footer>

            </article>





        {% endfor %}


    </div>



{% endblock %}



