{% extends 'base.html.twig' %}


{% block body %}


    <h2 class="mt-6 text-xl">A la Une</h2>



    <!-- Start Content -->
    <div class="grid grid-cols-1 gap-5 mt-6 sm:grid-cols-2 lg:grid-cols-4">

        {% for i in 1..22 %}


            <div class="transition duration-500 ease-in-out bg-green-300 p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg hover:bg-blue-300">
                <div class="flex items-start justify-between">
                    <div class="flex flex-col space-y-2">
                        <span class="text-lg font-semibold">Produit</span>
                        <span class="text-gray-600">{{ 100.221 * i% 120 * 1.73 }}€</span>
                        {% if i % 3 == 0 %}
                            <span class="inline-block flex align-center justify-center text-sm text-white bg-red-500 rounded">{{ i * i * i% 60 }}%</span>
                        {% endif %}
                    </div>
                    <div class="m-4 bg-gray-200 rounded-md">
                        <img src="https://picsum.photos/250" alt="picture">
                    </div>
                </div>
                <div>


                    <span>from 201{{ i % 9 }}</span>
                </div>
            </div>

        {% endfor %}


    </div>



{% endblock %}
