{% extends 'base.html.twig' %}

{% block title %}Créer Lot{% endblock %}

{% block body %}
    <h1>Créer un nouveau lot</h1>


    {{ include('main/_form.html.twig') }}

    <a href="{{ path('main') }}">back</a>

{% endblock %}
