<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>BidCardCoin</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body class="bg-gray-100 transition  transition-all duration-500 ease-in-out">


<nav class="fixed top-0 w-full flex items-center justify-between bg-gray-700 p-3">


    <a class="flex-initial  flex items-center flex-no-shrink text-white mr-6 cursor-pointer" href="{{ path('main') }}">
        <svg class="h-14 w-14 mr-2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 2000 2000">
            <style type="text/css">
                .st0 {
                    fill: #EFEFEF;
                }

                .st1 {
                    fill: #F8F8F8;
                }
            </style>
            <g>
                <g>
                    <polygon class="st0" points="1074.8,747.9 758.5,663.1 660.5,1028.8 976.8,1113.6 		"/>
                    <polygon class="st0" points="1068.7,627 824.2,561.5 666.6,1149.7 911.1,1215.2 		"/>
                    <path class="st1" d="M985.7,1080.2l-316.3-84.7c-18.4-4.9-37.4,6-42.3,24.4c-4.9,18.4,6,37.3,24.4,42.3l316.3,84.7
			c18.4,4.9,37.4-6,42.3-24.4C1015.1,1104.1,1004.2,1085.2,985.7,1080.2z"/>
                    <path class="st1" d="M1083.7,714.5l-316.3-84.8c-18.4-4.9-37.3,6-42.3,24.4c-4.9,18.4,6,37.4,24.4,42.3l316.3,84.7
			c18.4,4.9,37.4-6,42.3-24.4C1113.1,738.4,1102.1,719.4,1083.7,714.5z"/>
                    <path class="st1" d="M959.5,1178.1l-316.3-84.8c-25.8-6.9-52.3,8.4-59.2,34.2c-6.9,25.8,8.4,52.3,34.2,59.2l316.3,84.7
			c25.8,6.9,52.3-8.4,59.2-34.2C1000.6,1211.6,985.3,1185,959.5,1178.1z"/>
                    <path class="st1" d="M1117.1,589.9l-316.3-84.8c-25.8-6.9-52.3,8.4-59.2,34.2c-6.9,25.8,8.4,52.3,34.2,59.2l316.3,84.8
			c25.8,6.9,52.3-8.4,59.2-34.2C1158.2,623.3,1142.9,596.8,1117.1,589.9z"/>
                    <path class="st0" d="M855.1,935.1l847.7,261.8c43.2,13.3,89.1-10.8,102.4-54.1c13.3-43.2-10.9-89.1-54.1-102.4
			c-1.9-0.6-4-1.2-6-1.6L880.1,841.6c-26-5.9-52,10.4-57.9,36.4C816.6,902.9,831.3,927.6,855.1,935.1z"/>
                </g>
                <g>
                    <path class="st0" d="M495,1496.1h564.4c32.1-11.8,55.1-42.3,55.1-78.5c0-46.3-37.6-83.9-83.9-83.9H523.8
			c-46.3,0-83.9,37.6-83.9,83.9C439.9,1453.8,462.9,1484.4,495,1496.1z"/>
                    <path class="st1"
                          d="M1192.1,1496.1c-11.4-45-51.9-78.5-100.5-78.5H462.8c-48.6,0-89.1,33.5-100.5,78.5H1192.1z"/>
                </g>
                <polygon class="st1" points="456.3,1265 191,1254.3 205.8,1176.8 	"/>
                <polygon class="st1" points="547,1249.9 403.8,1193.4 427.8,1152.6 	"/>
            </g>
        </svg>

        <h1 class="font-semibold text-xl tracking-tight">BidCardCoin</h1>
    </a>


    <!-- image search box -->
    <div class="flex-auto box">
        <div class="box-wrapper">

            <div class=" bg-gray-100 rounded flex items-center w-full p-3 shadow-sm border border-gray-200">
                <button @click="getImages()" class="outline-none focus:outline-none">
                    <svg class=" w-5 text-gray-700 h-5 cursor-pointer" fill="none" stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                </button>
                <input type="search" name="" id="" @keydown.enter="getImages()" placeholder="search something"
                       x-model="q" class="w-full pl-4 text-sm outline-none focus:outline-none bg-transparent">
                <div class="select">
                    <select name="" id="" x-model="image_type"
                            class="text-sm outline-none focus:outline-none bg-transparent">
                        <option value="all" selected>All</option>
                        <option value="photo">Photo</option>
                        <option value="illustration">Illustration</option>
                        <option value="vector">Vector</option>
                    </select>
                </div>
            </div>

        </div>
    </div>


    <div class=" ml-4">
        <a href="#"
           class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-600 hover:bg-white lg:mt-0">SignIn/SignUp</a>
    </div>


    </div>
</nav>


<div class="container mx-auto mt-24">

    {% block body %}{% endblock %}
</div>
</body>
</html>


{#
Green : green-300
Dark Grey : grey-700
Grey : grey-600
White : grey-100
Red : red-500
Blue : blue-300



        #}